body {
  margin: 0;
  
  background-color: orange;
}

.nav-flex {
  margin-top: 0;
  /* background-color: cornflowerblue; */
  position: absolute;
  bottom: 0;
  right: 0;
}

#about-me{
margin-top: 10%;


 
 
}